.container {
    height: 5em;
    position: relative;
}

.globalDialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin-top: 20px;
}

.item {
    padding: 10px 10px 0 10px;

}

.item:hover {
    background-color: rgba(18, 97, 1, 0.25);
}

.item a {
    color: black;
    text-decoration: none;
}

.activeItem a {
    font-weight: bold;
    color: #247901;
}

.messageItem {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.avatarDialogs {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 0;
    position: absolute;
    top: 45%;
    transform: translate(0, -50%)
}

.avatarMessages {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.nameOfSender {
    margin-left: 55px;
    position: absolute;
    top: 45%;
    transform: translate(0, -50%)
}

.dialogsItem {
    margin-right: 20px;
    border: 1px rgba(18, 97, 1, 0.25) solid;
}

.messages {
    background-color: rgba(18, 97, 1, 0.25);
    border-radius: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.imgBlock {

}

.messageBlock {

}

.inputMessageBlock {
    display: flex;
    flex-direction: row;
}

.inputMessage {
    flex-grow: 4;
}

.sendMessage {
    flex-grow: 1;
}



